/* Littles screens */

@media all and (max-width: 375px) {
    .container-nav {
        padding: 30px 21px;
    }

    .main-title {
        margin-top: 0.5rem;
        font-size: 20px;
        font-family: 'satochi Light', sans-serif;
        line-height: 1.8;
    }

    .description-text {
        margin: 20px 0;
        font-family: 'satochi Light', sans-serif;
        font-size: 1.2rem;
        font-weight: 100;
    }

    .buttons {
        margin: 20px 0;
    }

    .buttons button {
        font-weight: 100;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
}

@media all and (min-width :375px) and (max-width: 767px) {
    .container-nav {
        padding: 30px 21px;
    }

    .main-title {
        margin-top: 4.5rem;
        font-size: 20px;
        font-family: 'satochi Light', sans-serif;
        line-height: 1.8;
    }

    .description-text {
        margin: 28px 0;
        font-family: 'satochi Light', sans-serif;
        font-size: 1.5rem;
        font-weight: 100;
    }

    .buttons {
        margin: 20px 0;
    }

    /* .all-buttons {
        padding-top: 5rem;
    } */

    .buttons button {
        font-weight: 100;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
}
/* 1286 */
@media all and (min-width :480px) and (max-width: 1286px) {
    .main-title {
        font-size: 70px;
    }
}
/* Littles screens */

@media all and (max-width: 375px) {
    .container-nav {
        padding: 30px 21px;
    }

    .main-title {
        margin-top: 0.5rem;
        font-size: 20px;
        font-family: 'satochi Light', sans-serif;
        line-height: 1.8;
    }

    .description-text {
        margin: 20px 0;
        font-family: 'satochi Light', sans-serif;
        font-size: 1.2rem;
        font-weight: 100;
    }

    .buttons {
        margin: 20px 0;
    }

    .buttons button {
        font-weight: 100;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
}

@media all and (min-width :375px) and (max-width: 767px) {
    .container-nav {
        padding: 30px 21px;
    }

    .main-title {
        margin-top: 4.5rem;
        font-size: 20px;
        font-family: 'satochi Light', sans-serif;
        line-height: 1.8;
    }

    .description-text {
        margin: 28px 0;
        font-family: 'satochi Light', sans-serif;
        font-size: 1.5rem;
        font-weight: 100;
    }

    .buttons {
        margin: 20px 0;
    }

    /* .all-buttons {
        padding-top: 5rem;
    } */

    .buttons button {
        font-weight: 100;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
}
/* 1286 */
@media all and (min-width :480px) and (max-width: 1286px) {
    .main-title {
        font-size: 70px;
    }
}