/* Définition de la police personnalisée pour Satoshi-Light */

@font-face {
    font-family: 'Satoshi Light';
    src: url('/src/assets/fonts/satochi/Satoshi-Light.ttf') format('truetype'),
         url('/src/assets/fonts/satochi/Satoshi-Light.woff') format('woff'),
         url('/src/assets/fonts/satochi/Satoshi-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  